  body {
    font-family: verdana,arial;
    font-size: 10px;
    margin: 40px 10px 10px;
  }

  td {  
    font-size: 10px;
  }
  
  th, tr.header {
    background-color: #333;
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
  }

  a { color: blue; }

  tr.odd, td.odd { background-color: #a3a3a3; }

  tr.even, td.even { background-color: #dddddd; }

  tr.odd, td.odd, 
  tr.even, td.even {
    color: #000000;
    text-align: left;
  }

  td.link { text-align: center; }

  tr.odd:hover { background-color: #ff6; }

  tr.even:hover { background-color: #ff6; }

  table#main-list td.group-set span {
    font-size: 16px;
    font-weight: bold;
    float: left;
    color: green;
  }

  table#main-list td.group-set a {
    font-size: 10px;
    font-weight: normal;
    float: right;
    line-height: 1.75em;
  }
  
  h1.update { 
    color: #a8a8a8; 
    font-size: 48px; 
    font-weight: bold; 
  }
  /*-- END: Tag elements --*/

  /*-- BEGIN: Header Menus --*/
  .header-menu { display: inline-block; }
  .menu-container { display: table; }

  .header-menu {
    display: table-row;
    padding: 0;
    margin: 0;
    list-style-type: none;
    white-space: nowrap; 
  }

  .header-menu li { display: inline; }

  .header-menu a, 
  .header-menu a:visited {
    display: block;
    float: left;
    padding: 5px;
    color: #fff;
    background-color: #666;
    border: 1px #ccc;
    border-style: solid solid none solid;
    text-decoration: none;
    font-weight: bold; 
    font-size: 10px; 
    margin-right: 2px;
  }

  .header-menu a:hover {
    color: #666; 
    background-color: #ddd;
  }

  .menu-wrap {
    text-align: left;
    border-bottom: 1px solid #ccc;
  }

  .menu-wrap .menu-container {margin: 0 0 0 5px;}
  /*-- END: Header Menus --*/

  /*-- BEGIN: ID elements --*/
  #confirm-del {
    margin: 10px 0 5px;
  }

  #timeout {
    position: fixed;
    top: 10px;
    left: 10px;
    border: 2px solid #fff;
  }
	
  #timeout, 
  #frmmsg { 
    visibility: hidden;
    font-weight: normal;
    margin: 0 0 2px 1px;
  }

  #timeout a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }

  #footer {
    border-top: 1px solid #ccc;
    margin-top: 15px;
    padding-top: 5px;
  }
  
  #footer p.l {
    float: left;
    text-align: left;
  }

  #footer p.r {
    float: right;
    text-align: right; 
  }

  #footer p.l, 
  #footer p.r {
    margin: 0;
    padding: 0 0 10px;
  }

  #footer #sysinfo {
    color: #222;
  }
  
  #main-list { 
    table-layout: fixed;
    width: 100%;
  }
  
  #main-list a,
  #footer a { text-decoration: none; }

  #main-list .first { width: 225px; }

  #main-list .mt1 { width: 32px; }

  #main-list .mt2 { width: 45px; }

  #main-list td, 
  .action-table td { padding: 3px; }

  #popup { visibility: hidden; }

  #frmmsg {
    background-color: green;
    color: #fff;
    font-weight: bold;
    right: 10px;
    top: 10px;
    position: absolute;
    padding: 4px;
    line-height: 1.5em;
  }
  
  #navlinks { text-align: center; }  
  /*-- END: ID elements --*/

  /*-- BEGIN: Class elements --*/
  .important {
    display: inline-block;
    background-color: red;
    color: #fff;
    font-weight: bold;
    padding: 4px;
  }

  .frm-msg {
    display: none;
    color: red;
    font-weight: bold;
  }

  .sensitive {
    background-color: #000;
    color: #000;
    padding: 4px;
  }
  
  .invis { 
    visibility: hidden;
    line-height: 0px;
  }
  
  .note {
    font-weight: bold;
  }
  /*-- END: Class elements --*/