/* $Id$ */
body {
  font-family: verdana,arial;
  font-size: 10px;
  margin: 20px 10px 10px;
}
body#upgrade p {
  width: 400px;
  line-height: 1.6em;
}

td {  
  font-size: 10px;
}

th, tr.header {
  background-color: #333;
  color: #ffffff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}

a { color: blue; }

tr.odd, td.odd { background-color: #a3a3a3; }

tr.even, td.even { background-color: #dddddd; }

tr.odd, td.odd, 
tr.even, td.even {
  color: #000000;
  text-align: left;
}

td.link { text-align: center; }

tr.odd:hover { background-color: #ff6; }

tr.even:hover { background-color: #ff6; }

table#main-list td.group-set span {
  font-size: 16px;
  font-weight: bold;
  float: left;
  color: green;
}

table#main-list td.group-set a {
  font-size: 10px;
  font-weight: normal;
  float: right;
  line-height: 1.75em;
}

h1.upgrade { 
  color: #a8a8a8;
}

img {
  border: 0;
}

input[type="text"],
input[type="password"] {
  border: solid 1px #aaa;
  padding: 2px;
}
/*-- END: Tag elements --*/

/*-- BEGIN: Header Menus --*/
.header-menu { display: inline-block; }
.menu-container { display: table; }

.header-menu {
  display: table-row;
  padding: 0;
  margin: 0;
  list-style-type: none;
  white-space: nowrap; 
}

.header-menu li { display: inline; }

.header-menu a, 
.header-menu a:visited {
  display: block;
  float: left;
  padding: 5px;
  color: #fff;
  background-color: #666;
  border: 1px #ccc;
  border-style: solid solid none solid;
  text-decoration: none;
  font-weight: bold; 
  font-size: 10px; 
  margin-right: 2px;
}

.header-menu a:hover {
  color: #666; 
  background-color: #ddd;
}

.menu-wrap {
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.menu-wrap .menu-container {margin: 0 0 0 5px;}
/*-- END: Header Menus --*/

/*-- BEGIN: ID elements --*/
#confirm-del {
  margin: 10px 0 5px;
}

#timeout {
  top: 9px;
  right: 10px;
  z-index: 10;
  position: fixed;
  padding: 5px;
}

#timeout a,
.important a {
  color: #fff;
  font-weight: bold;
}

#timeout,
#info {
  display: none;
  border-radius: 3px;
}

#info {
  top: 9px;
  right: 10px;
  position: absolute;
  background-color: green;
  color: #fff;
  padding: 8px;
  text-align: center;
  max-width: 50%;
  cursor: pointer;
}

#footer {
  border-top: 1px solid #ccc;
  margin-top: 15px;
  padding-top: 5px;
}

#footer p.l {
  float: left;
  text-align: left;
}

#footer p.r {
  float: right;
  text-align: right; 
}

#footer p.l, 
#footer p.r {
  margin: 0;
  padding: 0 0 10px;
}

#footer #sysinfo {
  color: #222;
}

#main-list { 
  table-layout: fixed;
  width: 100%;
}

#main-list a,
#footer a { text-decoration: none; }

#main-list .first { width: 225px; }

#main-list .mt1 { width: 32px; }

#main-list .mt2 { width: 45px; }

#main-list td, 
.action-table td { padding: 3px; }

#popup { visibility: hidden; }

#navlinks { text-align: center; }

#wallet-count { 
  padding-top: 4px;
  color: green;
  text-align: right;
}

body#upgrade p {
  margin-bottom: 10px;
}

body#upgrade hr {
  height: 0;
  border: 1px solid #CCC;
  border-style: solid none none none;
  width: 90%;
  margin: 10px 0 7px;
}

body#upgrade #upgrade-controls input {
  margin: 10px 0 4px;
}

body#upgrade #upgrade-controls label {
  color: red;
  display: block;
  margin: 5px 0 0;
}
 
body#upgrade #upgrade-controls input[type="text"] {
  border: 1px solid #ccc;
  background-color: #ededed;
  padding: 2px 4px 3px;
  margin: 0 0 5px;
}

body#upgrade #upgrade-controls input[type="submit"] {
  margin: 10px 5px 0 0;
}

body#upgrade h3 {
  color: red;
}

body#upgrade span.emph {
  font-weight: bold;
  font-size: 12px;
}

#logo-icon {
  padding: 0 2px;
  margin: 0;
  vertical-align: top;
}
/*-- END: ID elements --*/

/*-- BEGIN: Class elements --*/
.important {
  display: inline-block;
  background-color: red;
  color: #fff;
  font-weight: bold;
  padding: 4px;
}

.sensitive {
  background-color: #000;
  color: #000;
  padding: 2px;
}

.sensitive:hover {
color: #fff;
}

.invis { 
  visibility: hidden;
  line-height: 0px;
}

.note {
  font-weight: bold;
}

.informative {
  color: blue;
}

.negative {
  color: red;
}

.positive {
  color: green;
}
/*-- END: Class elements --*/